<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XamaWhatsAppServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1327/XamaWhatsAppService.asmx"
                binding="basicHttpBinding" bindingConfiguration="XamaWhatsAppServiceSoap"
                contract="xamaX.XamaWhatsAppServiceSoap" name="XamaWhatsAppServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>